@* Views/Shared/_Header.cshtml *@
@{
var currentUrl = Context.Request.Path;
var currentService = Context.Request.Query["service"];
}

<header>
    <div class="main_header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand" href="/">
                    <figure class="mb-0">
                        <img src="./assets/images/logo.png" alt="">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item @(currentUrl == "/" ? "active" : "")">
                            <a class="nav-link" href="/">Ana Sayfa</a>
                        </li>
                        <li class="nav-item @(currentUrl == Url.Action("Index", "About") ? "active" : "")">
                            <a class="nav-link" href="@Url.Action("Index","About")">Hakkımızda</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"> Hizmetlerimiz </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item @(currentService == "1" ? "active" : "")">
                                        <a class="dropdown-item nav-link " href="@Url.Action("Index", "Services", new { service = "1" })">Klinik Pilates</a>
                                    </li>
                                    <li class="nav-item @(currentService == "2" ? "active" : "")">
                                        <a class="dropdown-item nav-link" href="@Url.Action("Index", "Services", new { service = "2" })">Reformer Pilates</a>
                                    </li>
                                    <li class="nav-item @(currentService == "3" ? "active" : "")">
                                        <a class="dropdown-item nav-link" href="@Url.Action("Index", "Services", new { service = "3" })">Çocuk Pilates</a>
                                    </li>
                                    <li class="nav-item @(currentService == "4" ? "active" : "")">
                                        <a class="dropdown-item nav-link" href="@Url.Action("Index", "Services", new { service = "4" })">Fonksiyonel Antreman</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item @(currentUrl == Url.Action("Index", "Team") ? "active" : "")">
                            <a class="nav-link" href="@Url.Action("Index","Team")">Ekibimiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link contact_us" href="@Url.Action("Index","Contact")">İletişim</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>